.about-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
  padding-right: 27px;
}
.about-img-fluid {
    max-width: 100%;
    height: 27vw !important;
}

.about-img{
width: 35.666667% !important;
}

.about-sec {
    padding-right: 28px !important;
    padding-left: 15px !important;
}

.about-con-txt{
    width: 65.666667% !important;
    padding-bottom: 50px !important;
    padding-left: 8px !important;
}

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px 0;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid #006381 !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px #001d26 !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}
.col-md-2 {
        flex: auto !important;
    }

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px ;
    width: 40% !important;
}
  .about-section {
    padding-top: 90px !important;
}
  .profile-pic{
    max-width: 40vw !important;
  }
  .about-con{
    flex-direction: column-reverse !important;
  }
}

@media (max-width: 767px) {
  .tech-icons svg{
    height: 3.3rem !important;
  }
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid #006381 !important;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding: 0 !important;
    margin: 0px !important;
  }

}

@media (max-width: 450px) {
  .card-body {
    padding: 0px !important;
}
.about-con-txt{
    width: 100% !important;
}

.about-img{
width: 100% !important;
}
.about-sec{
  padding-right:.2rem !important;
  padding-left: 0.3rem !important;
}
.other-activity{
  padding: 0px !important;
  font-size: clamp(15px, 3vw, 22px) !important;
}
.quoet{
  font-size: 1.1rem !important;
  text-align: start !important;
}
.education {
  padding: 0px !important;
}
.about-section {
  padding-top: 50px !important;
}
}