canvas[data-generated="true"] {
  pointer-events: none !important;
  z-index: 0 !important;
}

html {
  --section-background-color: linear-gradient(to bottom left,
      rgba(16, 16, 17, 0.582),
      rgba(12, 8, 24, 0.904));

  --image-gradient: linear-gradient(to bottom left,
      rgba(17, 16, 16, 0.678),
      rgba(12, 10, 22, 0.863));

  --imp-text-color: #42e5ff;
}

.purple {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}

.button_more {
  background-color: #42e5ff !important;
  color: white !important;
  border: none !important;
  padding: 0.5rem 1rem !important;
  border-radius: 5px !important;
  transition: 0.3s !important;
}

.home-content,
.home-about,
.home-about-section,
.services-project-card,
.button_more,
.home-about-social {
  position: relative;
  z-index: 10;
}


/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: #1b1a2ea9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #00b2c6 !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    /* background-color: #181a27 !important; */
  }

  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}

.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  height: 1.4em !important;
  width: 2.5em !important;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #00afca;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

@media (max-width: 450px) {
  .nav-link {
    font-size: 15px;
    padding: 0.2rem 1rem !important;
  }

  .navbar {
    padding: 0.2rem !important;
    font-size: 1.4rem !important;
    /* box-shadow: 0px 2px 5px 3px #00abbf14 !important; */
    /* background-color: #0b0a1b !important; */
  }

  .navbar-collapse {
    margin-top: -15px !important;
  }

}

/* --------- */
/* Home section */
/* --------- */
.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 10%;
  height: 10%;
}

.home-header {
  padding-top: 0px !important;
  margin-top: -20px !important;
}

.home-section {
  position: relative;
  z-index: 1;
  background-image: var(--image-gradient), url(./Assets/home-bg1.png);
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}

.heading {
  font-size: clamp(25px, 3vw, 40px) !important;
  padding-left: 12px !important;
}

.heading-name {
  font-size: clamp(25px, 3vw, 40px) !important;
  padding-left: 12px !important;
}

.main-name {
  color: #42e5ff;
}

.Typewriter__wrapper {
  font-size: clamp(25px, 3vw, 40px) !important;
  color: #42e5ff !important;
  font-weight: 600 !important;
}

.Typewriter__cursor {
  font-size: clamp(25px, 3vw, 40px) !important;
  color: #42e5ff !important;
}

@media (max-width: 767px) {
  /* .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  } */
  /* .Typewriter__cursor {
    display: none !important;
  } */
}

.myAvtar {
  justify-content: center !important;
  padding-top: 7em !important;
}

.pic_small {
  display: none;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 0em !important;
    padding-bottom: 1em !important;
  }

  .pic_av {
    height: 35vw;
  }

  .social-icons {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  .home-about-social {
    padding-top: 0px !important;
  }

  .home-about {
    flex-direction: column-reverse !important;
  }

  .myAvtar .img-fluid {
    margin-top: 30px;
    max-width: 30% !important;
    height: auto !important;
  }

  .profile-picture {
    max-width: 90% !important;
    height: auto !important;
  }
}

@media (max-width: 450px) {
  .home-content .row {
    position: relative !important;
    flex-direction: row !important;
    height: 10vh !important;
  }


  .home-content .description {
    width: 100% !important;
    position: absolute;
  }

  .profile-picture {
    display: none;
  }

  .myAvtar {
    display: none !important;
  }

  .myAvtar-small {
    display: block !important;
  }

  .img-fluid {
    max-width: 60% !important;
  }

  .btn-nav {
    padding-right: 0px;
  }

  .navbar-toggler {
    padding-right: 0px !important;
  }
}

.myAvtar-small {
  display: none;
}



.home-about-section {
  position: relative;
  padding-bottom: 25px !important;
  padding-top: 15px !important;
}

.home-about-description {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align: left;
  margin-left: 3px;
}

.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: white !important;
}

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.home-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: rgba(255, 255, 255, 0.972) !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #05dcfd;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #00aec9;
}

.home-social-icons:hover {
  color: #05dcfd;
  box-shadow: 0 0 5px #007f93;
  text-shadow: 0 0 2px #008195;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #006381 !important;
}

.h1 {
  font-size: clamp(25px, 5vw, 40px) !important;
  text-align: left !important;
}

@media (max-width: 768px) {

  .container,
  .container-sm {
    max-width: 100% !important;
  }

  .home-about-description {
    color: white !important;
    padding-top: 25px !important;
    padding-bottom: 20px !important;
    text-align: center;
  }

  .home-about-body {
    padding-top: 20px;
    font-size: clamp(15px, 3vw, 22px) !important;
    text-align: left;
  }

  .home-content .row {
    flex-direction: row !important;
    /* height: 40vh !important; */
  }

  .home-content .description {
    width: 60% !important;
  }

  .home-content .pic {
    width: 40% !important;
  }

}

@media (max-width: 450px) {
  .navbar {
    padding: 0.2rem !important;
    font-size: 1rem !important;
    /* background-color: #181a2700 !important; */
  }

  .navbar-brand {
    padding-bottom: 0px !important;
  }

  .home-about-description {
    padding-top: 0px !important;
    padding-bottom: 10px !important;
  }

  .pic_av {
    height: 34vw !important;
  }

  .home-about-social {
    padding: 0px;
    ;
  }

  .home-about-social ul {
    margin-bottom: 0px;
  }

  .home-about-description .h1 {
    font-size: clamp(25px, 5vw, 40px) !important;
    text-align: left !important;
  }

  .home-social-icons {
    width: 35px !important;
    height: 35px !important;
    line-height: 1.7em !important;
  }

  .small-row {
    padding: 0px 5px !important;
  }

  .container,
  .container-sm {
    max-width: 100% !important;
  }

  .footer h3 {
    font-size: clamp(13px, 3vw, 40px) !important;
  }

  .navbar-toggler span {
    height: 3px !important;
    width: 22px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
  }

  .myAvtar .img-fluid {
    margin-top: 20px;
    max-width: 45% !important;
    height: auto !important;
  }

  /* .home-content .pic {
  display: none;
} */
  .home-content .description {
    width: 100% !important;
  }

  .heading {
    font-size: clamp(10px, 0.9rem, 37px) !important;
    padding-left: 5px !important;
  }

  .heading-name {
    font-size: clamp(10px, 1rem, 37px) !important;
    padding-left: 5px !important;
  }

  .typer {
    padding: 0 5px !important;
  }

  .Typewriter__wrapper {
    font-size: clamp(10px, 0.9rem, 37px) !important;
  }

  .Typewriter__cursor {
    font-size: clamp(10px, 0.9rem, 37px) !important;
  }

  .social-icons {
    padding-right: 7px !important;
    padding-left: 7px !important;
  }
}



/* Skills Section */
#programming-sector {
  font-family: "PT Sans Narrow", sans-serif;
  color: rgb(255, 255, 255);
  padding: 40px 20px 0 20px;
}

.skill-level {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 0px 55px 0px;
  align-items: center;
  justify-items: center;
  column-gap: 20px;
}

.progress-container {
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
  height: 20px;
  position: relative;
}

/* Basic progress bar */
.progress-bar {
  height: 100%;
  background-color: rgb(7, 148, 0);
  border-radius: 20px 0 0 20px;
  transition: width 2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  /* font-weight: bold; */
  font-size: 1rem;
  position: relative;
  background-color: #03bcd8 !important;
}

/* Striped progress bar */
.striped .progress-bar {

  color: #0a0c1d;
  font-weight: bold;
  background-image: linear-gradient(45deg, #00003333 25%, transparent 25%, transparent 50%, #00003333 50%, #00003333 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
  animation: progress-bar-stripes 1s linear infinite;
}

/* Stripes animation */
@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}


@media (max-width: 767px) {
  .skill-level {
    grid-template-columns: 1fr;
    margin: 30px 0px 55px 0px;
  }
}

@media (max-width: 767px) {
  .striped .progress-bar {
    font-size: 0.7rem !important;
  }
}



/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: rgb(10, 4, 22);
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important;
}

.footer-copywright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #42e5ff !important;
}

/* --------- */
/* Projects */
/* --------- */
.project-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}

.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px #005e6d !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 1 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px #005e6d !important;
}

.services-project-card {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  height: auto;
}

.services-project-card-view {
  box-shadow: inset 0 0px 5px 3px #005e6d !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 1 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.services-project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: inset 0 3px 4px 3px #005e6d !important;
}

.blog-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.blog-card-view {
  background-color: transparent !important;
  box-shadow: 0 3px 3px 2px rgba(145, 77, 161, 0.459) !important;
  color: white !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.blog-link {
  color: white !important;
  text-decoration: none !important;
}

.blog-link:hover {
  cursor: pointer !important;
}

.blog-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 3px 3px 5px rgba(155, 88, 173, 0.65) !important;
}

.card-img-top {
  padding: 20px !important;
  opacity: 1 !important;
  border-radius: 10px !important;
}

.blog-img {
  padding: 0px !important;
  opacity: 0.8 !important;
  border-radius: 0px !important;
}

.img-fluid {
  max-width: 80%;
  height: 25vw !important;
}

.btn-primary {
  color: #001d26 !important;
  background-color: #42e5ff !important;
  border-color: #42e5ff !important;
}

.btn-primary:hover {
  color: #001d26 !important;
  background-color: #39c3d8 !important;
  border-color: #39c3d8 !important;
}

.hero-btn {
  color: #42e5ff !important;
  background-color: #42e6ff00 !important;
  border-color: #42e5ff !important;
}

.hero-btn:hover {
  color: #42e6ffae !important;
  background-color: #42e6ff00 !important;
  border-color: #42e6ffae !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.project-heading {
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}


@media (max-width: 767px) {
  .project-heading {
    padding-top: 0px !important;
  }
}


@media (max-width: 450px) {
  .project-heading {
    font-size: 1.5rem !important;
  }

  .project-section {
    padding-top: 90px !important;
  }

  .project-card {
    padding-top: 0px !important;
  }

  .project-card .card-body {
    padding: 0px 20px 20px 20px !important;
  }

  .project-card p {
    font-size: 0.8rem !important;
  }

  .project-section {
    padding-bottom: 0px !important;
  }
}


.animate-like {
  animation-name: likeAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.85s;
}

@keyframes likeAnimation {
  0% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.fork-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.fork-btn-inner {
  line-height: 1.4em !important;
  background-color: #934cce5e !important;
  padding: 0.25rem 1.1rem !important;
  vertical-align: middle !important;
  text-align: center !important;
}

.fork-btn-inner:hover {
  transform: translateY(-2px) !important;
  background-color: #a24dd386 !important;
  border-color: #a24dd386 !important;
}

.fork-btn-inner::after {
  display: none !important;
}

/* --------- */
/* Resume */
/* --------- */
.education {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 35px;

}

.education-card {
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  border: 2px solid #006381;
  box-shadow: inset 0 0 10px #006381;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 5px 3px #016c8c2a;
  transition: all 0.3s ease 0s;

}

.education-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 5px 3px #016c8c2a;
}


@media (max-width: 767px) {
  .education {
    grid-template-columns: 1fr;
  }
}

/* --------- */
/* Course */
/* --------- */
.course {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  align-items: stretch;
  column-gap: 35px;

}

.course-card {
  padding: 30px;
  margin: 15px 0;
  border-radius: 10px;
  border: 2px solid #006381;
  box-shadow: inset 0 0 10px #006381;
  display: flex;
  flex-direction: column;
  height: auto;
  /* align-items: start; */
  box-shadow: 0 4px 5px 3px #016c8c2a;

}

.education-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 5px 3px #016c8c2a;
}

.course-card-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

}



@media (max-width: 767px) {
  .course {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 450px) {
  .course {
    padding: 0px !important;
    align-items: stretch !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .course-card {
    padding: 20px !important;
    flex: 1 !important;
  }

  .course-list {
    font-size: 1rem !important;
    padding-left: 1rem;
  }
}


/* Contact Section */

#contact-sector {
  padding: 100px 20px;
  font-family: 'Lato', sans-serif;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.contact-section {
  /* background-color: rgb(236, 236, 236); */
  padding: 20px 70px;
}

#contact-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 14px 25px 20px 25px;
}


.contact-form-container {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  resize: none;
}
.tools{
  margin: 25px 0 !important;
}
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: rgba(5, 0, 70, 0.799);
  box-shadow: 0 0 5px rgba(2, 2, 2, 0.638);
  background: #fff;
}

button[type="submit"] {
  padding: 10px;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  color: #0b0a1c;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.info {
  margin-left: 40px;
  display: grid;
  justify-content: end;
  padding: 85px 15px 85px 0;
  grid-template-columns: 1fr 1fr
}

.info img {
  height: 30px;
}

.info-item {
  display: flex;
  align-items: center;
  text-align: center;
}

.info-item p {
  margin-left: 20px;
  font-weight: normal;
  margin-bottom: 0px !important;
}

.info a {
  text-decoration: none;
  margin-left: 20px;
  font-weight: normal;
  cursor: pointer;
  color: white;
}

.info a:hover {
  color: rgb(223, 223, 223);
}


@media (max-width: 767px) {
  #contact-box {
    display: grid;
    grid-template-columns: 1fr;
    padding: 14px 0px 20px 0px;
  }

  .info {
    margin-left: 0px;
    display: grid;
    justify-content: start;
    padding: 25px 0 0px 0;
  }

  .info-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  #contact-sector {
    padding: 100px 20px 0px 20px;
  }
}

@media (max-width: 450px) {
  #contact-sector {
    padding: 50px 20px 0px 20px;
  }

  .info {
    margin-left: 0;
    padding: 20px 0;
  }

  .info img {
    height: 20px;
  }

  .info-item p {
    font-size: .7rem;
    margin-left: 10px;
  }

  .info a {
    font-size: .7rem;
    margin-left: 10px;
  }

  .contact-section {
    padding: 20px 0px 0px 0px;
  }
  .education {
    gap: 0px;
}
.col-4 {
    flex: auto !important;
}
.tools{
  margin: 25px 0 !important;
  gap: 20px;
}
    .tech-icons {
        margin: 0px !important;
    }
}

.disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #2b1313;
  cursor: not-allowed !important;
}

.status-message {
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.status-message.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.status-message.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.status-message.loading {
  color: #856404;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
}